doctype html 
html 
  head 
    meta(charset="utf-8")
    title #{title} | BookTrader
    link(rel="stylesheet", type="text/css", href="/css/styles.css")
    block scripts 
      script(src="/js/common.js")
  body 
    //this connects header.pug
    //include header.pug
    main#main 
      block main-content 
    footer#footer 
      p &copy; Copyright HTTP5222, 2024.